:root{
    --note-width:10rem;
    --row-increment: 4px;
    --note-small: 6;
    --note-medium: 9;
    --note-large:12;
    --note_border_radius: 0.8rem
}

/*
.notes-grid{
    margin:0;
    padding:0;
    display:grid;
    grid-template-column:repeat(auto-fill, var(--note-width));
    grid-auto-rows: var(--row-increment);
    justify-content: start;
}

.note{
    margin:1rem;
    padding:0;
    border-radius:var(--note_border_radius);
    grid-row-end: var(--note-small);
}
*/

.edit-note-view{
    height: 100dvh;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 1.5rem;

    >.close-edit-view-btn{
        width: 1.5rem;
        min-height: 1.5rem;
        align-self: start;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 1rem;
            height: 1rem;
            fill: rgb(var(--text-color1));
        }
    }

    input, textarea{
        background: transparent;
        border: none;
        &:focus{
            outline: none;
        }
    }

    #title-input{
        display: flex;
        align-items: center;
        height: 2rem;
        padding: 0.2rem 0.5rem;
        border-bottom: 1px solid whitesmoke;
    }
    #content-txtarea{
        font-size: 0.7rem;
        min-height: 5rem;
        height: 100%;
        padding: 0rem 0.5rem;
        resize: none;
        overflow-y: auto;
    }
    button{
        border-radius: 1rem;
        align-self: center;
        width: 50%;
        min-height: 1.5rem;
    }
    >.group-select-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        >.group-select{
            width: 100%;
            font-size: 0.8rem;
            background: transparent;
            >option{
                background: rgb(var(--accent1));
            }
        }
    }
}

.notes-view{
    position: relative;
    flex-direction: column;
    gap: 0.8rem;
    height: 100dvh;
    width:100%;
    padding-right: 0.6rem;
    .add-note-lg{
        position: absolute;
        width: 2rem;
        height: 2rem;
        bottom: 10%;
        right: 10%;
        border-radius: 50%;
        box-shadow: 0 0 6px rgb(var(--accent1), 0.8);
        z-index: 50;
        svg{
            width: 100%;
            height: 100%;
            fill: rgb(var(--text-color1));
        }
    }
}

.sections{
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-height: 1rem;
    padding-top: 0.2rem;
    >.left-nav, >.right-nav{
        display: flex;
        gap: 1rem;
        >.nav-option{
            
            display: flex;
            align-items: center;
            width: max-content;
            cursor: pointer;
            font-size: 0.8rem;
            
            &:hover{
                color:rgb(var(--accent2));
            }
        }
    }

}

.reset-btn{
    width: max-content;
    gap: 0.5rem;
    
    span{
        font-size: 0.6rem;
        text-wrap: nowrap;
    }
}

/* .notes-grid{
    display: grid;
    gap: 1rem;
    width: 100%;
    align-items: start;

} */

.trashed-note {
    background: rgba(255, 0, 0, 0.15) !important; /* red, translucent */
    /* Optionally, add a border or other visual cue */
    border: 1px solid rgba(255, 0, 0, 0.3);
    opacity: 0.8;
    text-decoration: line-through;
}

.notes-grid{
    width: 100%;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    scroll-behavior:smooth;
    scrollbar-width: none;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(var(--note-width), 1fr));
    grid-auto-flow: row;
    grid-auto-rows: var(--row-increment);
    margin:0;
    padding:0;
    row-gap: 1.5rem;
    column-gap: 0.8rem;
    justify-content: start;
}

.note-medium{
    grid-row-end: span var(--note-medium);
}

.note-small{
    grid-row-end: span var(--note-small);
}
.note-lg{
    grid-row-end: span var(--note-large);
}

.note{
    background: rgb(var(--accent3));
    border-radius:var(--note_border_radius);
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    &:hover{
        background: rgb(var(--accent4));
    }
    h1{
        font-size: 1rem;
        font-weight: bold;
    }
    p{
        max-height: 15rem;
        overflow: hidden;
    }
    >*{
        line-height: 1.05rem;
        font-size: 0.7rem;
        width: 100%;
        overflow: hidden;
        cursor: default;
    }
    >.note-creation-date{
        font-style: italic;
    }
    >.note-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        >.note-buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: flex;
            gap: 1rem;
            max-width: 5rem;
            figure{
                cursor: pointer;
                width: 1.1rem;
                height: 1.1rem;
                &:hover{
                    svg{
                        fill: rgb(var(--accent1));
                    }
                }
                svg{
                    width: 100%;
                    height: 100%;
                    fill: rgb(var(--accent2));
                }
            }
        }
    }
}

.add-note-btn{
    box-shadow: 0 0 6px rgb(var(--accent1), 0.8);
    z-index: 50;
}

@media (max-width:450px) {
    .notes-view{
        padding: min(20dvh, 7rem) 1rem 3.5rem 1rem;
        .add-note-lg{
            display: none;
            
        }
    }
}

@media (min-width:450.5px) {
    
    .notes-view, .edit-note-view{
        padding-top: 5dvh;
        width: calc(100% - var(--header-width));
        transition: width 0.2s;
    }
    .sections{
        padding-right: 1rem;
    }
}