*{
    color: rgb(var(--text-color1));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body, html{
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

body{
    background-color: rgb(var(--accent1));
}


button{
    border: none;
    cursor: pointer;
    background: rgb(var(--accent2));
    color: rgb(var(--text-color1));
}

a{
    text-decoration: none;
}