*{
    color: rgb(var(--text-color1));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body, html{
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

body{
    background-color: rgb(var(--accent1));
}


button{
    border: none;
    cursor: pointer;
    background: rgb(var(--accent2));
    color: rgb(var(--text-color1));
}

.btn{
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    svg{
        fill: rgb(var(--accent2));
        width: 100%;
        height: 100%;
    }
}

figure{
    svg{
        width: 100%;
        height: 100%;
        fill: rgb(var(--accent2));
    }
}

a{
    text-decoration: none;
}

@media (min-width:700px) {
    #root{
        display: flex;
        width: 100vw;
        gap: 2rem;
        height: 100%;
    }

    header{
        position: static;
    }
}